<h1>Welcome to E-commerce Website, <%= @user.full_name %></h1>
  <p>
    You have successfully signed up to E-commerce Website,
    your username is: <%= @user.full_name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>
