<nav id = "sidebar">
  <% if logged_in? %>
    <div class = "col-md-6">
      <ul class = "nav nav-sidebar mt-2 ml-2">
        <% if current_user.present? %>
          <% if current_user.image.present? %>
            <%= image_tag current_user.image,height: 100, width:100, class: "rounded-circle mt-2 ml-4" %>
          <% else %>
            <i class="fa fa-user fa-3x mt-2 ml-5"></i>
          <% end %>
          <li class = "sidebar mt-3 mb-4"><%= link_to "View_Profile", user_path %></li>
          <li class = "sidebar mb-4"><%= link_to "Update_Profile", edit_user_path %></li>
          <li class = "mb-4"><%= link_to 'Logout', session_path(current_user.id), method: :delete %></li> 
        <% end %>
      </ul>
    </div>
  <% end %>
</nav>
