body {
  background-image: url("ls3.jpg");
  color: black;
  width: 100%;
  font-family: 'Merriweather', sans-serif;
  text-align: center;
}
h1, h2 {
  font-weight: bold;
}
p {
  font-size: 16px;
  color: white;
}
a:visited {
  color: black;
}
.containers{
  margin-left: 55%;
  margin-top: 100px;
  width: 400px;
  padding: 10px;
  text-align: center;
  background-image: url("ls7.jpg");
  opacity: 0.6;
}  
.container {
  color: white;
  text-align: center;
  height: 80px;
  width: 100%;
  font-size: 50px;
  background-image: url("ls7.jpg");
  opacity: 0.6;
}
.link {
  color: white;
}
.btn-primary {
  color: black;
  border-color: white;
  margin-bottom: 5px;
}
.btn-sm {
   background-color: #FFFFCC;
   display: inline-block;
}
.alert { 
  opacity: 0.3;
}
.alert-danger {
  margin: auto;
  opacity: 0.3;
}
